// Basic
$light: #fff;
$dark: #2A2A2A;
//Green
$green: #31B388;
$green-100: #009688;
$green-200: #8BC34A;
$green-300: #7BBB43;
$green-400: #DDF2C7;
$green-500: #05B189;
//Grey
$grey: #5E5E5E;
$grey-100: #6E6E6E;
$grey-200: #8A8A8A;
$grey-300: #BCBCBC;
$grey-400: #A2A2A2;
$grey-500: #EFEFEF;
//Orange
$orange: #F7AB37;
$orange-100: #F5A816;
//blue
$blue:#1494FC;
$blue-100:#1BB3F9;
//Cards
$card-border-color: $grey-500;
$card-btn-color: $grey-500;
// Border-radius
$br-0: 0;